/* * {
border: solid red 1px 
} */
 h1 {
    text-align: center;
 }
.container {
    display: flex;
    flex: 1;
    max-width: 600px;
    margin: auto;
    border: solid black 5px;
    padding: 10px;
}

.numberButtonContainer {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3px;
    margin-bottom: 10px;
}
button {
    width: 100px;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background-color: aquamarine;
    font-size: 50px;
}
.calcDisplay {
    display: flex;
    height: 60px;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    font-size: 35px;
    border: solid black 2px;
    background-color: aquamarine;
    align-items: center;
    padding-left: 5px;
    overflow: auto;
}
.clearEqualButtonContainer {
    display: flex;
}
.clear,
.equalSign {
    flex: 1;
}