/* * {
border: solid red 1px 
} */
 h1 {
    text-align: center;
 }
.container {
    display: flex;
    flex-direction: column;
    flex: 1;
    flex-wrap: wrap;
    max-width: 400px;
    margin: auto;
    border: solid black 5px;
    padding: 10px;
}
.buttonContainer {
    display: flex;
}
.numberButtonContainer {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    width: 300px;
    margin: auto;
}
button {
    width: 80px;
    height: 80px;
    border-radius: 10px;
    background-color: aquamarine;
    font-size: 50px;
}
.calcDisplayBottom,
.calcDisplayTop {
    height: 60px;
    margin: auto;
    margin-bottom:10px;
    font-size: 35px;
    text-align: right;
    border: solid black 2px;
    background-color: aquamarine;
    align-items: center;
    padding-left: 5px;
    overflow: auto;
}
.operatorButtonContainer {
    display: flex;
    flex-direction: column;
}
