/* * {
border: solid red 1px 
} */
h1 {
    text-align: center;
    color: rgb(0, 0, 0);
}
html {
background-color: rgb(105, 107, 131);

}
.container {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    width: 400px;
    margin: auto;
    border: solid black 5px;
    padding: 10px;
    border-radius: 10px;
    background-color: rgb(61, 49, 49);
}
.buttonContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.divCalcDisplay {
    display: flex;
    flex-direction: column;
}
.calcDisplayBottom,
.calcDisplayTop {
    border-radius: 10px;;
    height: 60px;
    font-size: 35px;
    text-align: right;
    border: solid black 2px;
    background-color: rgb(205, 207, 235);
    overflow: auto;
    margin-bottom: -20px;
}
button {
    width: 80px;
    height: 80px;
    border-radius: 10px;
    background-color: rgb(174, 179, 247);
    font-size: 50px;
    margin: 4px;
    color: rgb(73, 19, 19)
}
.clearButton {
    flex: 0;
    width: fit-content;
    margin: auto;
    font-size: 30px;
    margin-bottom: 8px;
    margin-top: 38px;
    background-color: rgb(143, 143, 143);
}